<a href="https://colab.research.google.com/github/thepjos/thepjos/blob/main/GeneralAssembly_Python_Homework_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  LISTS

## LIST OPS

### P1.PY

In [ ]:
"""
Basic List Operations I
"""

# Create a list including these five animals - elephant, tiger, otter, orangutan, and penguin.


# Print the 4th animal on the list.


# Add 'tortoise' to the beginning of the list.


# Print the length of the list.


# Remove 'orangutan' from the list.


# Sort the list alphabetically and print it out.

animals = ['elephant', 'tiger', 'otter', 'orangutan', 'penguin']
animals
print(animals[3])
animals.insert(0,'tortoise')
print(len(animals))
animals.remove('orangutan')
print(animals)
animals.sort()
print(animals)

orangutan
6
['tortoise', 'elephant', 'tiger', 'otter', 'penguin']
['elephant', 'otter', 'penguin', 'tiger', 'tortoise']



### P2.PY

In [ ]:
"""
Basic List Operations II
"""

# Declare a list with 5 names, and print out the length of that list.
names = ['jim', 'jon', 'bob', 'tim', 'jan']
print(len(names))
# Print the 3rd name on the list
print(names[2])


# Delete the first name on the list

names.remove('jim')
print(names)
# Re-add the name you deleted to the end of the list
names.append('jim')
print(names)


# Replace the 2nd name on the list with a new name.
names[1] = 'josh'
print(names)

# Add 3 new names to the end of the list.
names.append('tom')
names.append('pat')
names.append('mike')
print(names)

5
bob
['jon', 'bob', 'tim', 'jan']
['jon', 'bob', 'tim', 'jan', 'jim']
['jon', 'josh', 'tim', 'jan', 'jim']
['jon', 'josh', 'tim', 'jan', 'jim', 'tom', 'pat', 'mike']



### P3.PY

In [ ]:
"""
Math Operations
"""

# Save a list with the numbers `2`, `4`, `6`, and `8` into a variable called `numbers`. Use this variable for all the problems in this PSET.

numbers = [2,4,6,8]
print(numbers)

# Print the max of `numbers`.
print(max(numbers))

# Pop the last element in `numbers` off; re-insert it at index `2` and print the resultant list.


numbers[2] = numbers.pop()
print(numbers)

# Pop the second number in `numbers` off.

numbers.remove(4)       # can also remove using indexing like i did below as practice. do this in case you dont know the list item. in this case the instructiions dont 
                          # specifically ask for that 
                          # had to go  back and make my list integers and not strings, after getting errors in the last part of the problem

# Append `3` to `numbers`.

numbers.append(3)
print(numbers)



# Print out the average number.
print(sum(numbers)/len(numbers))    # was able to do this only after changing them from strings to integers

[2, 4, 6, 8]
8
[2, 4, 8]
[2, 8, 3]
4.333333333333333

In [ ]:
practice_numbers = ['2', '4', '6', '8']       #this was just practice, popping numbers out of the middle of strings 
print(practice_numbers)
practice_numbers.remove(practice_numbers[2])
print(practice_numbers)

['2', '4', '6', '8']
['2', '4', '8']



## SORTING

### P1.PY

In [ ]:
"""
Spotify Playlists - Sorting
"""

# You work for Spotify and are creating a feature for users to alphabetize their playlists by song title. Below is a list of titles from a sample playlist.

playlist_titles = ['Tiny Dancer', 'At Last', 'Fortunate Son', 
'Hey Jude', 'Isn\'t She Lovely', 'Just the Way You Are', 'I\'m Yours',
'Vienna', 'Roxanne', 'Dancing in the Moonlight']
print(playlist_titles)
# Alphabetize these songs and print the result.

playlist_titles.sort()
print(playlist_titles)

# Now do the reverse.
playlist_titles.sort(reverse = True)
print(playlist_titles)

['Tiny Dancer', 'At Last', 'Fortunate Son', 'Hey Jude', "Isn't She Lovely", 'Just the Way You Are', "I'm Yours", 'Vienna', 'Roxanne', 'Dancing in the Moonlight']
['At Last', 'Dancing in the Moonlight', 'Fortunate Son', 'Hey Jude', "I'm Yours", "Isn't She Lovely", 'Just the Way You Are', 'Roxanne', 'Tiny Dancer', 'Vienna']
['Vienna', 'Tiny Dancer', 'Roxanne', 'Just the Way You Are', "Isn't She Lovely", "I'm Yours", 'Hey Jude', 'Fortunate Son', 'Dancing in the Moonlight', 'At Last']



### P2.PY

In [ ]:
"""
Ordering Random Numbers
"""

# Create a list of 6 randomly generated numbers called numbers and sort it in descending order.

import random
randn1 = random.randint(1, 100)
randn2 = random.randint(1, 100)
randn3 = random.randint(1, 100)
randn4 = random.randint(1, 100)
randn5 = random.randint(1, 100)
randn6 = random.randint(1, 100)
print(randn1,randn2,randn3,randn4,randn5, randn6)

numbers = [randn1,randn2,randn3,randn4,randn5, randn6]      # i'm sure there is a better way . will double back if i have time before sunday
print(numbers)
numbers.sort(reverse = True)
print(numbers)

63 21 40 41 58 83
[63, 21, 40, 41, 58, 83]
[83, 63, 58, 41, 40, 21]

## LIST MANIPULATION

### P1.PY

In [ ]:
"""
Phone Numbers
"""

# Parse this phone number so that a computer can process
# it. (Hint: It can't include any non-numeric
# characters.)

cell = '1.192.168.0143'
print(cell)

cell = cell.split('.')    # is this parsing correcT? its now a list of numbers or strings at least. will try to make ints
print(cell)
cell = int(cell[0])   # could go one by one possibly if needed to undo this from a list. could name each like " one,  area_code,  3dig, 4 dig"
print(cell)

1.192.168.0143
['1', '192', '168', '0143']
1

In [ ]:
practice_numbers = ['2', '4', '6', '8']       #this was just practice, popping numbers out of the middle of strings 
print(practice_numbers)
practice_numbers.remove(practice_numbers[2])
print(practice_numbers)

['2', '4', '6', '8']
['2', '4', '8']



### P2.PY

In [ ]:
"""
Basic Math Ops
"""
nums = [2, 19, 20, 12, 6, 24, 8, 30, 28, 25]
# Given the list below, assign the correct values to the variables below.
my_sum = sum(nums)
my_min = min(nums)
my_max = max(nums)
my_range = range(my_min,my_max)
my_mean = my_sum/len(nums)



# Once you finish, print out each value **on its own line** in this format: "my_median = " etc.

print(f'my_sum = {my_sum}') 
print(f'my_min = {my_min}') 
print(f'my_max = {my_max}') 
print(f'my_range = {my_range}') 
print(f'my_mean = {my_mean}')

my_sum = 174
my_min = 2
my_max = 30
my_range = range(2, 30)
my_mean = 17.4



### P3.PY

In [ ]:
"""
Merge Lists with Duplicates
"""

# Use the two lists below to solve this problem. Print out the result from each section as you go along.

list1 = [2, 8, 6]
list2 = [10, 4, 12]


# A) Add another instance of each item in list1 to list1 again and assign the results to list3.
list3 = list1 + list1
print(list3)


# B) Combine the two given lists and assign them to list4.
list4 = list1 + list2
print(list4)

# C) Replace the first 3 items in list 3 with the numbers 13, 16, 9.
list3[:2] = [13, 16, 9]
print(list3)

# D) Merge list3 and list4 to create a list containing no duplicates and store this in list5.
list5 = list3 + list4
print(set(list5))     # ok to use set ? found on google. maybe could have used if statments?

# Take a look at your printed statements to see the evolution of your lists with each step of this problem.

[2, 8, 6, 2, 8, 6]
[2, 8, 6, 10, 4, 12]
[13, 16, 9, 6, 2, 8, 6]
{2, 4, 6, 8, 9, 10, 12, 13, 16}



### P4.PY

In [ ]:
"""
Cool Runnings!
"""

# Here's a quote from the movie 'Cool Runnings'. :)

# Replace the word bobsled with "YOLO" and print the resultant list as 4 sentences (i.e. NOT a list), each on a new line.

cool_runnings = [
	'Feel', 'the', 'rhythm.',
	'Feel', 'the', 'rhyme.',
	'Get', 'on', 'up.',
	'It\'s', 'bobsled', 'time!']


cool_runnings.insert(cool_runnings.index('bobsled'), 'YOLO')
cool_runnings.remove('bobsled')
first = cool_runnings[0:3]
second = cool_runnings[3:6]
third = cool_runnings[6:9]
fourth = cool_runnings[9:12]

print(f'{first}\n{second}\n{third}\n{fourth}')

# names.index('diana prince')

['Feel', 'the', 'rhythm.']
['Feel', 'the', 'rhyme.']
['Get', 'on', 'up.']
["It's", 'YOLO', 'time!']

## LIST CHALLENGES - THESE ARE OPTIONAL!

### P1.PY

In [ ]:
"""
CHALLENGE - Extensions
"""

# ** Challenge** Add each element of the tuple1 to list1 *individually* and print the result.

list1 = [6, 12, 9, 4, 10, 1]
tuple1 = [(15,3), (6,2), (1, 8)]
list2 = tuple1[0]
list3 = tuple1[1]
list4= tuple1[2]

print(list2 + list3 + list4)
list5= list1.append(list2)
print(list5)


#print(list1 + list2 + list3 +list4)   # need to learn how to break up a tuple

(15, 3, 6, 2, 1, 8)
None



### P2.PY

In [ ]:
"""
CHALLENGE - Core Statistics Calculations
"""

# Given the sample below, find the mean, median, mode, variance, and standard deviation of this sample. Print them out separately, but in the same format as before.
	# my_median = 
	# my_mode = 
	# my_variance = 
	# my_sd = 

sample = [6, 19, 20, 12, 6, 24, 8, 30, 28, 25]


# Once you finish, print out each value **on its own line** in this format: "median = " etc.